# C/C++ with GCC
# Build your C/C++ project with GCC using make.
# Add steps that publish test results, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/c-cpp/gcc
# copied from https://github.com/CLIUtils/CLI11

trigger:
  - main

pr:
  - main

variables:
  concurrency.std: 17
  concurrency.build_type: Debug
  concurrency.options: -DGMLC_CONCURRENCY_ENABLE_TESTS=ON -DMLC_CONCURRENCY_ENABLE_ERROR_ON_WARNINGS=ON
  CMAKE_BUILD_PARALLEL_LEVEL: 4

jobs:
  - job: ClangTidy
    variables:
      CXX_FLAGS: "-Werror -Wcast-align -Wfloat-equal -Wimplicit-atomic-properties -Wmissing-declarations -Woverlength-strings -Wshadow -Wstrict-selector-match -Wundeclared-selector -Wunreachable-code -std=c++17"
      concurrency.options: -DGMLC_CONCURRENCY_CLANG_TIDY=ON -DGMLC_CONCURRENCY_CLANG_TIDY_OPTIONS="-fix"
      concurrency.std: 17
      CMAKE_BUILD_PARALLEL_LEVEL: 1
    pool:
      vmImage: "ubuntu-latest"
    container: helics/buildenv:clang14-builder
    steps:
      - template: .ci/azure-cmake.yml
      - template: .ci/azure-build.yml
      - script: git diff --exit-code --color
        displayName: Check tidy

  - job: CppLint
    variables:
      concurrency.options:
    pool:
      vmImage: "ubuntu-latest"
    container: helics/buildenv:cpplint
    steps:
      - bash: cpplint --counting=detailed --recursive gmlc tests benchmarks
        displayName: Checking against google style guide

  - job: Native
    strategy:
      matrix:
        Linux14:
          vmImage: "ubuntu-latest"
        macOS17:
          vmImage: "macOS-latest"
          concurrency.std: 17
        macOS11:
          vmImage: "macOS-latest"
        Windows17:
          vmImage: "windows-2019"
          concurrency.std: 20
        Windows11:
          vmImage: "windows-2019"
        Windowslatest:
          vmImage: "windows-2022"
          concurrency.std: 17
    pool:
      vmImage: $(vmImage)
    steps:
      - template: .ci/azure-build.yml
      - template: .ci/azure-test.yml

  - job: Docker
    pool:
      vmImage: "ubuntu-latest"
    strategy:
      matrix:
        gcc8:
          containerImage: helics/buildenv:gcc8-builder
          concurrency.std: 17
        gcc9:
          containerImage: helics/buildenv:gcc9-builder
          concurrency.std: 17
          concurrency.options: -DCMAKE_CXX_FLAGS="-Wstrict-overflow=5"
        gcc11:
          containerImage: helics/buildenv:gcc11-builder
          concurrency.std: 20
        clang9:
          containerImage: helics/buildenv:clang9-builder
    container: $[ variables['containerImage'] ]
    steps:
      - template: .ci/azure-build.yml
      - template: .ci/azure-test.yml
