version: 2
aliases:
  - &run_concurrency
    name: run_concurrency
    environment:
    command: |
      mkdir -p build
      cd build
      eval cmake .. ${CMAKE_FLAGS}
      make -j 4
      ctest --verbose

jobs:
  concurrencygccTSan:
    docker:
      - image: helics/buildenv:builder
    environment:
      CMAKE_FLAGS: '-DCMAKE_CXX_FLAGS="-fsanitize=thread -g -O1 "  '
      TSAN_OPTIONS: "second_deadlock_stack=1 suppressions=/root/project/.circleci/tsan_suppression.txt history_size=4"

    steps:
      - checkout
      - run: *run_concurrency

  concurrencyTSan:
    docker:
      - image: helics/clang-tsan:latest
    environment:
      CMAKE_FLAGS: '-DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_FLAGS="-fsanitize=thread -stdlib=libc++ -L/root/develop/libcxx_tsan/lib -lc++abi -I/root/develop/libcxx_tsan/include -I/root/develop/libcxx_tsan/include/c++/v1 -Wno-unused-command-line-argument -g -O1 -Wl,-rpath=/root/develop/libcxx_tsan/lib"  '
      TSAN_OPTIONS: "second_deadlock_stack=1"

    steps:
      - checkout
      - run: *run_concurrency

  concurrencyASan:
    docker:
      - image: helics/buildenv:sanitizers
    environment:
      CMAKE_FLAGS: '-DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_FLAGS="-fsanitize=undefined,address -lc++ -lc++abi -fsanitize-address-use-after-scope -fsanitize-ignorelist=/root/project/.circleci/asan_suppression.txt -Wno-unused-command-line-argument -fno-omit-frame-pointer -g -O1 -fsanitize-blacklist=/root/project/.circleci/asan_blacklist.txt"  '
      LSAN_OPTIONS: "suppressions=/root/project/.circleci/leak_suppression.txt"
      UBSAN_OPTIONS: "print_stacktrace=1"

    steps:
      - checkout
      - run: *run_concurrency

  concurrencyMSan:
    docker:
      - image: helics/buildenv:sanitizers
    environment:
      CMAKE_FLAGS: '-DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_FLAGS="-fsanitize=memory -nostdinc++ -nostdlib++ -L/root/develop/libcxx_msan/lib -lc++ -lc++abi -I/root/develop/libcxx_msan/include -I/root/develop/libcxx_msan/include/c++/v1 -Wno-unused-command-line-argument -fno-omit-frame-pointer -g -O1 -Wl,-rpath,/root/develop/libcxx_msan/lib" '

    steps:
      - checkout
      - run: *run_concurrency

workflows:
  version: 2
  concurrency_test:
    jobs:
      - concurrencyMSan
      - concurrencyASan
      - concurrencyTSan
      - concurrencygccTSan
